name: build

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Install pip
        run: |
          sudo add-apt-repository universe
          sudo apt-get update
          sudo apt-get install -y python3-pip
      - name: Install pySpark
        run: |
          pip3 install pyspark==3.2.0

      - name: Checkout
        uses: actions/checkout@v2

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Run Tests with Maven
        run: mvn -B test --file pom.xml --fail-at-end

#      - name: Publish Tests Report
#        if: ${{ always() }}
#        uses: scacap/action-surefire-report@v1
